---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import AboutMe from "../components/AboutMeCards.astro";
import Case from "../components/Case.svelte";

import type { TypePortfoliosGlob, PortfolioItem } from "../types/TypePortfolio";

// ↓ статические пути для всех доступных резюме
export async function getStaticPaths() {
    const portfoliosJSON: TypePortfoliosGlob = import.meta.glob(
        "../data/portfolios/*.json",
        { eager: true }
    );

    const allPortfolios: PortfolioItem[] = [];
    for (const path in portfoliosJSON) {
        const portfolio = portfoliosJSON[path].default;
        allPortfolios.push(portfolio);
    }

    return allPortfolios.map((portfolio) => ({
        params: { resume: portfolio.url },
    }));
}

// ↓ импорт всех JSON файлов с портфолио из папки portfolios
const portfoliosJSON: TypePortfoliosGlob = import.meta.glob(
    "../data/portfolios/*.json",
    { eager: true }
);
const allPortfolios: PortfolioItem[] = [];
for (const path in portfoliosJSON) {
    const portfolio = portfoliosJSON[path].default;
    allPortfolios.push(portfolio);
}

// ↓ получить текущий slug из URL и по нему найти нужное портфолио
const { resume: resumeSlug } = Astro.params;
const currentResume = allPortfolios.find(
    (portfolio) => portfolio.url === resumeSlug
);

// если портфолио не найдено → 404
if (!currentResume) {
    return Astro.redirect("/404");
}

// ↓ остальные портфолио для навигации
const otherPortfolios = allPortfolios.filter(
    (portfolio) => portfolio.url !== resumeSlug
);

const caseImports = await Astro.glob("../data/cases/*.md");
const allCases = await Promise.all(
    Object.values(caseImports).map(async (importCase) => ({
        metadata: importCase.frontmatter,
        htmlContent: await importCase.compiledContent(),
    }))
);

const cases = allCases
    .filter((c) => currentResume.cases.includes(c.metadata.url))
    .sort((a, b) => {
        const aIndex = currentResume.cases.indexOf(a.metadata.url);
        const bIndex = currentResume.cases.indexOf(b.metadata.url);
        return aIndex - bIndex;
    });
---

<Layout title={`${currentResume.jobtitle} - Ревин Роман`}>
    <HeroBanner resume={currentResume} />
    <AboutMe cards={currentResume.aboutme} />
    <div class="portfolio-cases container">
        <h2>Кейсы</h2>
        {
            cases.map((c) => (
                <Case
                    client:only
                    metadata={c.metadata}
                    content={c.htmlContent}
                />
            ))
        }
    </div>
</Layout>

<style lang="scss">
    .portfolio-cases {
        margin-bottom: 4em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        h2 {
            grid-column: 1 / -1;
            font-size: 1.8em;
            color: var(--color-basic-white);
            font-weight: 700;
            padding-bottom: 1em;
        }
    }
</style>
